.body {
    /* border: 3px solid black; */
    background-color: lightblue;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 5vh 0;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 2vh 1vw;
    align-items: center;
}

.direction {
    font-family: var(--font-geist-mono);
}

.main {
    display: flex;
    justify-content: center;
}