.body {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 750ms;
    position: absolute;
    left: 10%;
    top: 10%;
}

.body p {
    /* font-family: var(--font-geist); */
    font-size: clamp(12pt, 1vw, 26pt);
    padding: 2vh 1vw;
    max-width: 80%;
}

.body.invisible {
    opacity: 0;
}

.body.visible {
    opacity: 1;
}