.body {
    background-color: rgba(255, 255, 255, 0.653);
    display: flex;
    border-radius: 25px;
    padding: 3vh 0vw;
    justify-content: center;
    gap: 7.5vw;
    opacity: 0;
    transition: all 750ms;
    /* width: 100%; */
}

.body.invisible {
    opacity: 0;
}

.body.visible {
    opacity: 1;
}
