:root {
    --color-hover-link: darkcyan;
}

.header {
    background-image: linear-gradient(transparent);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2vh 1vw;
    border-bottom: 1px solid black;
    height: 8vh;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
    transition: all 500ms;
    overflow: hidden;
}

.header::-webkit-scrollbar {
    display: none !important;
}

.headerTop {
    width: 100%;
    display: flex;
    align-items: baseline;
}

.titleWrapper {
    width: 100%;
}

.headerLinksWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.titleText {
    font-family: var(--font-kelly-slab);
    font-size: clamp(18pt, 1vw + .75rem, 36pt);
}

.headerLink {
    font-weight: 600;
}

.headerLink.active {
    color: var(--color-hover-link);
}

.headerLink:hover {
    cursor: pointer;
    text-decoration: overline;
    color: var(--color-hover-link);
}

.expand {
    background-image: linear-gradient(rgba(255, 0, 128, .25), rgba(0, 0, 255, .25));
    height: 60vh !important;
}

.expandedWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 1vw;
}