.body {
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
    justify-content: center;
    padding: 1vh .5vw;
}

.body.leftToRight {
    flex-direction: row;
}

.body.rightToLeft {
    flex-direction: row-reverse;
}

.tileWrapper {
    margin: 1vh .5vw;
    border-radius: 10px;
    filter: drop-shadow(3px 3px 4px gray);
    transition: color 150ms;
}

.tileWrapper:hover {
    cursor: pointer;
    color: goldenrod
}