.body {
    display: flex;
    padding: 1vh 1vw;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 1.5vh .5vw;
}

.letter {
    display: flex;
    font-size: clamp(18pt, 3vw, 80pt);
}

.letter.Latin {
    font-family: var(--font-roboto-slab);
}

.letter.Hebrew {
    font-family: var(--font-noto-sans-hebrew);
}