.body {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 25px;
    align-items: center;
    width: 95%;
    padding: 5vh 0;
    transform: scale(1);
    opacity: 1;
    z-index: 0;
    transition: all 250ms;
    height: 65vh;
}

.body.hide {
    opacity: 0;
    z-index: -1;
    transform: scale(1.5);
}

.letterHero {
    background-color: whitesmoke;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: clamp(36pt, 10vw + 5rem, 400pt);
    margin: 0vh 0vw;
    padding: 0vh 2vw;
    min-width: 15%;
    height: 80%;
}

.letterCanvas {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.letterHero.EN {
    color: darkred;
    font-family: var(--font-rubik-doodle-shadow);
    
}

.letterHero.MH {
    color: darkblue;
    font-family: var(--font-rubik-doodle-shadow);
}

.letterHeroColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 2vw;
    justify-content: space-between;
    align-items: center;
}