.body {
    background-color: whitesmoke;
    border-radius: var(--master-border-radius);
    /* height: 100%; */
    width: fit-content;
    padding: 2vh 1vw;
    margin: 1vh .5vw;
}

.ipaWrapper {
    display: flex;
    justify-content: center;
}

.ipaText {
    font-size: clamp(18pt, 3vw + .5rem, 62pt);
}

.ipaName {
    font-style: italic;
    font-size: clamp(10pt, .25vw + .5rem, 16pt);
}

.example {
    background-color: rgb(220, 220, 220);
    padding: .75vh .5vw;
    margin: .5vh .25vw;
    width: fit-content;
    border-radius: 5px;
    
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: clamp(12pt, .5vw + .75rem, 20pt);
    font-family: var(--font-sansista);
    font-weight: 600;
}

.audioIcon {
    color: tomato;
}

.translation {}