:root {
    --color-letter-match-bg: rgba(184, 184, 226, 0.55);
}

.body {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: var(--border-radius-main);
    width: fit-content;
    min-width: 275px;
    max-width: 380px;
    padding: 2vh 1vw;
    padding: 1vh .5vw;
    margin: 1vh .5vw;
}

.ipaWrapper {
    display: flex;
    justify-content: center;
} 

.ipaText {
    font-size: clamp(18pt, 3vw, 62pt);
}

.ipaName,
.envNote {
    font-style: italic;
    font-size: clamp(10pt, .25vw + .5rem, 16pt);
}

.exampleWrapper {
    background-color: rgb(220, 220, 220);
    padding: .75vh .5vw;
    margin: .5vh .25vw;
    width: fit-content;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    transition: border 250ms, filter 150ms;
}

.exampleWrapper:hover {
    border: 1px solid black;
    cursor: pointer;
    /* filter: drop-shadow(3px 3px 3px gray); */
}

.exampleWrapper:active {
    /* filter: invert(); */
    filter: drop-shadow(0 0 0) invert();
}


.exampleText {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: clamp(12pt, .5vw + .5rem, 20pt);
    font-weight: 600;
}

.exampleText.EN {
    font-family: var(--font-sansista);
}
.exampleText.MH {
    font-family: var(--font-noto-sans-hebrew);
}

.audioIcon {
    color: tomato;
}

.disabled .audioIcon {
    color: whitesmoke;
}

.translation {}

.disabled {
    color: gray;
}

.disabled:hover {
    border: 1px solid transparent;
    filter: none;
    cursor: default;
}

.inputWrapper {
    display: flex;
    align-items: baseline;
}

.ipaCaption {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    align-items: center;
}

.tilesWrapper {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: rgba(222, 184, 135, 0.65); */
    background-color: var(--color-letter-match-bg);
    border-radius: var(--border-radius-main);
    height: 100%;
    padding: .75vh .5vw;
    /* margin: 1vh 0.5vw; */
    margin-top: 1vh;
}

.tileWrapper {
    display: flex;
    flex-direction: column;
    margin: 1vh .5vw;
    border-radius: 10px;
    filter: drop-shadow(3px 3px 4px gray);
    transition: color 150ms;
    height: fit-content;
}

.tileWrapper:hover {
    cursor: pointer;
    color: goldenrod
}